:root {
  --lighter-bg: #4c566a;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.container {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  overflow: hidden;
  padding: 1em;
}

.container p {
  margin: 0;
}

.file-input {
  display: none;
}

.input-label {
  cursor: pointer;
  background-color: var(--soft-blue);
  color: var(--bg);
  padding: 1em;
  border-radius: .3em;
}

.input-label:hover,
.input-label:active {
  background-color: var(--success);
  border-color: var(--bg);
}

.token-input-container {
  height: 2.7em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

.token-input {
  outline: none;
  color: var(--dark-bg);
  padding: 0 1em;
  background-color: var(--fg);
  border-radius: .2em;
  border: none;
  height: 100%;
}

#submit-token-btn {
  border: none;
  outline: none;
  background-color: var(--fg);
  cursor: pointer;
  border-radius: .2em;
  height: 100%;
  padding: 0 1em;
  font-size: 1.5rem;
  color: var(--lighter-bg);
}

#submit-token-btn:hover,
#submit-token-btn:active {
  background-color: var(--success);
}

#link-container {
  width: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
}

.link-copy-container {
  background-color: var(--dark-bg);
  padding: 1em;
  border-radius: .3em;
  display: grid;
  grid-template-areas: 'thumb link link link' 'thumb empty open delete';
  grid-template-columns: 30% 50% 10% 10%;
  min-width: 0;
}

.link-copy-container > * {
  box-sizing: border-box;
}

.link-copy-container .thumbnail {
  object-fit: cover;
  border-radius: .3em;
  width: 90%;
  height: 100px;
  grid-area: thumb;
  cursor: pointer;
}

.link-copy-container .link-copy {
  font-family: monospace;
  font-size: 1.2em;
  grid-area: link;
  cursor: pointer;
}

.link-copy-container .open-external {
  grid-area: open;
  align-self: end;
  justify-self: end;
  margin-bottom: -3px;
  height: 1.5rem;
  width: auto;
  cursor: pointer;
}

.link-copy-container .delete-file {
  grid-area: delete;
  align-self: end;
  justify-self: end;
  height: 1.3rem;
  width: auto;
  cursor: pointer;
}

.link-copy-container svg path {
  fill: var(--fg);
}

.link-copy:hover,
.link-copy:active {
  color: var(--link);
  text-decoration: underline;
}

.link-copy-container .open-external:hover > path,
.link-copy-container .open-external:active > path {
  fill: var(--soft-blue);
}

.link-copy-container .delete-file:hover > path, 
.link-copy-container .delete-file:active > path {
  fill: var(--error);
}

#clear-token {
  color: var(--dark-bg);
  position: absolute;
  bottom: 1em;
  right: 1em;
  border-radius: .3em;
  background-color: var(--soft-blue);
  padding: .3rem .6em;
  cursor: pointer;
}

#clear-token:hover,
#clear-token:active {
  color: var(--fg);
  background-color: var(--error);
}

#history {
  text-decoration: underline;
}

#history:hover {
  color: var(--soft-blue);
  cursor: pointer;
}

