:root {
  --lighter-bg: #4c566a;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.container {
  color: var(--fg);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.container p {
  margin: 0;
}

.file-input {
  display: none;
}

.input-label {
  cursor: pointer;
  border: 1px solid var(--fg);
  padding: 1em;
  border-radius: .3em;
}

.input-label:hover,
.input-label:active {
  background-color: var(--soft-blue);
  border-color: var(--soft-blue);
  color: var(--bg);
}

.token-input-container {
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
  box-sizing: border-box;
}

.token-input {
  outline: none;
  color: var(--dark-bg);
  padding: 0 1em;
  background-color: var(--fg);
  border-radius: .2em;
  border: none;
  height: 100%;
}

#submit-token-btn {
  border: none;
  outline: none;
  background-color: var(--fg);
  cursor: pointer;
  border-radius: .2em;
  height: 100%;
  padding: 0 1em;
  font-size: 1.5em;
  color: var(--lighter-bg);
}

#submit-token-btn:hover,
#submit-token-btn:active {
  background-color: var(--success);
}

#link-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.link-copy-container {
  background-color: var(---bg);
  padding: 1em;
  border-radius: .3em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: .5em;
  align-items: center;
}

.link-copy-container svg {
  display: inline-block;
  height: 1.5em;
  width: auto;
}

.link-copy-container svg path {
  fill: var(--fg);
}

.link-copy:hover,
.link-copy:active {
  color: var(--link);
  text-decoration: underline;
}

.link-copy-container .open-external:hover > path,
.link-copy-container .open-external:active > path {
  fill: var(--soft-blue);
}

.link-copy-container .delete-file {
  height: 20px;
  width: auto;
}

.link-copy-container .delete-file:hover > path, 
.link-copy-container .delete-file:active > path {
  fill: var(--error);
}

#clear-token {
  color: var(--dark-bg);
  position: absolute;
  bottom: 1em;
  right: 1em;
  border-radius: .3em;
  background-color: var(--soft-blue);
  padding: .3rem .6em;
  cursor: pointer;
}

#clear-token:hover,
#clear-token:active {
  color: var(--fg);
  background-color: var(--error);
}

